%header
  %h1 Nivells de contaminació atmosfèrica a Barcelona

%div.page

  %div.module
    = form_tag filter_path, method: 'post' do |f|
      %h2.extra Mesura actual de:
      %div.select.pollutant
        = select_tag :pollutant, options_from_collection_for_select(Pollutant.all, "id", "name_with_short_name", @pollutant.id)
        %svg.select-icon{viewBox: "0 0 24 24"}
          %path{d: "M21 5.176l-9.086 9.353L3 5.176.686 7.647 12 19.382 23.314 7.647 21 5.176z"}

  %div.module
    %h2 Mitjana últims 7 dies:
    %h1 #{@average} <span>#{@pollutant.unit_html.html_safe}</span>

  %div.module
    %h2 Evolució horaria de #{@pollutant.name.downcase} (#{@pollutant.short_name}) en els últims 7 dies a les diferents estacions de Barcelona:

- series = []
- @locations.each do |location|
  - logs = location.logs.where(pollutant: @pollutant).order(registered_at: :desc)
  - series << { label: location.name.split(' - ').second, data: logs.data_last_7_days }

= react_component 'Graph', { data: series, year_limit_spain: @pollutant.year_limit_spain, year_limit_oms: @pollutant.year_limit_oms }

%div.page

  %h3 * En <span style="color: #ff5252">vermell</span> el valor límit de la mitjana anual establert per la legislació espanyola (#{@pollutant.year_limit_spain} #{@pollutant.unit_html.html_safe}) i de l'Organització Mundial de la Salut (#{@pollutant.year_limit_oms} #{@pollutant.unit_html.html_safe})

  %div.module
    %h1.left Qué és el #{@pollutant.name_html.html_safe} i quines causes té sobre la salut?
    #{@pollutant.description.html_safe}

  %footer
    %p <b>Ultima actualització</b>: #{Time.now.ago(1.hour)}. <b>Font de les dades</b>: Generalitat de Catalunya. Departament de Territori i Sostenibilitat. <a href="http://dtes.gencat.cat/icqa/">Xarxa de Vigilància i Previsió de la Qualitat de l'Aire</a> (XVPCA). <b>Font dels textos</b>: Ecologistas en Acción, <a href="http://www.ecologistasenaccion.org/article1657.html">Informe La Calidad del aire en el Estado español durante 2015</a>


:javascript
  window.unit = "#{@pollutant.unit_html.html_safe}"