%header
  %h1 Nivells de contaminació atmosfèrica a #{@group_name}

%div.page

  %div.module
    = form_tag filter_path, method: 'post', class: "pollutant" do |f|
      %h2.extra Mesura de:
      %div.select.pollutant
        = select_tag :pollutant, options_from_collection_for_select(Pollutant.all.order(:id), "id", "name_with_short_name", @pollutant.id)
        %svg.select-icon{viewBox: "0 0 24 24"}
          %path{d: "M21 5.176l-9.086 9.353L3 5.176.686 7.647 12 19.382 23.314 7.647 21 5.176z"}

  %div.module
    %h2 Evolució horaria de #{@pollutant.name.downcase} (#{@pollutant.short_name}) en els últims 7 dies a les diferents estacions de #{@group_name}. Última dada de fa #{time_ago_in_words(@locations.first.logs.last.registered_at + 2.hours)}.

- series = []
- @locations.each do |location|
  - logs = location.logs.where(pollutant: @pollutant).order(registered_at: :desc)
  - label = @name == 'Barcelona' ? location.name.split(' - ').second : location.name
  - series << { label: label, data: logs.data_last_7_days }

= react_component 'Graph', { data: series, year_limit_spain: @pollutant.year_limit_spain, year_limit_oms: @pollutant.year_limit_oms }, {class: @group_name.downcase }

%div.page

  %h3 * En <span style="color: #ff5252">vermell</span> el valor límit de la mitjana anual establert per la legislació espanyola (#{@pollutant.year_limit_spain} #{@pollutant.unit_html.html_safe}) i de l'Organització Mundial de la Salut (#{@pollutant.year_limit_oms} #{@pollutant.unit_html.html_safe})

  %footer
    %p <b>Més opcions:</b> dades generals de <a href="/barcelona">Barcelona</a>, de tot <a href="/catalunya">Catalunya</a> o d'una <a href="/">estació específica</a>.

  %footer.last
    %p <b>Twitter:</b> subscriu-te a les actualitzacions del nostre bot a <a href="https://twitter.com/contaminacio_" target="_blank">@contaminacio</a>.

  %footer.last
    %p <b>Ultima actualització</b>: a les #{@locations.first.logs.last.registered_at.strftime("%Hh")} del #{@locations.first.logs.last.registered_at.strftime("%d/%m/%y")}.
  %footer.last
    %p <b>Font de les dades</b>: Generalitat de Catalunya. Departament de Territori i Sostenibilitat. <a href="http://dtes.gencat.cat/icqa/">Xarxa de Vigilància i Previsió de la Qualitat de l'Aire</a> (XVPCA).


:javascript
  window.unit = "#{@pollutant.unit_html.html_safe}"