%h2 Messueres NO<sup>2</sup> a:

= form_tag filter_path, method: 'post' do |f|
  = select_tag :location, options_from_collection_for_select(Location.all, "id", "name", @location.id)
  = submit_tag 'Filter'

- if @logs.length > 0
  
  %h1 #{ @logs.first.value } <span>µg/m<sup>3</sup></span>

  %h2 Mitjana Eixample:
  %h1 #{ @logs.average(:value).round(2) } <span>µg/m<sup>3</sup></span>

  %h2 Valor limit de la mitjana anual establert per la legislació espanyola:
  %h1 40 <span>µg/m<sup>3</sup></span>

  %h2 Valor limit de la mitjana anual establert per la Organització Mundial de la Salut:
  %h1 20 <span>µg/m<sup>3</sup></span>

  = react_component 'Graph', { data: @logs.data }