%h2 Mesura actual de:

= form_tag filter_path, method: 'post' do |f|
  = select_tag :pollutant, options_from_collection_for_select(Pollutant.all, "id", "name_with_short_name", @pollutant.id)
  = select_tag :location, options_from_collection_for_select(Location.all.order(city: :asc), "id", "name", @location.id)
  = react_component 'GeoLocationButton'

- if @logs.length > 0
  
  %h1 #{@logs.first.value} <span>#{@pollutant.unit_html.html_safe}</span>

  %h2 Mitjana #{@pollutant.name_html.html_safe} #{@location.name}:
  %h1 #{@logs.average(:value).round(2)} <span>#{@pollutant.unit_html.html_safe}</span>

  %h2 Valor limit de la mitjana anual establert per la legislació espanyola:
  %h1 #{@pollutant.year_limit_spain} <span>#{@pollutant.unit_html.html_safe}</span>

  %h2 Valor limit de la mitjana anual establert per la Organització Mundial de la Salut:
  %h1 #{@pollutant.year_limit_oms} <span>µg/m<sup>3</sup></span>

  = react_component 'Graph', { data: @logs.data, year_limit_spain: @pollutant.year_limit_spain, year_limit_oms: @pollutant.year_limit_oms }

- else
  %hr
  %h2 Aquesta estació no recopila dades d'aquest contaminant.
  %hr

%h2 Qué és el #{@pollutant.name_html.html_safe} i quines causes té sobre la salut?
#{@pollutant.description.html_safe}

%footer
  %h3 Ultima actualització: #{Time.now.ago(1.hour)}. Font de les dades: Generalitat de Catalunya. Departament de Territori i Sostenibilitat. <a href="http://dtes.gencat.cat/icqa/">Xarxa de Vigilància i Previsió de la Qualitat de l'Aire</a> (XVPCA). Font dels textos: Ecologistas en Acción, <a href="http://www.ecologistasenaccion.org/article1657.html">Informe La Calidad del aire en el Estado español durante 2015</a>