%header.large
  %h1 Ranking de les escoles amb més contaminació atmosfèrica de Barcelona
  %h2 Actualitzat cada hora amb les dades dels últims 7 dies.

%div.page.large

  %table
    %tr
      %th #
      / %th Districte
      %th Escola
      %th Etapes
      %th Mitjana NO<sup>2</sup>

    - @schools.each_with_index do |school, index|
      %tr
        %td #{index + 1}
        / %td.category Eixample
        %td #{school["name"]} (<a target="_blank" href="https://maps.google.com/?q=#{school["latitude"]},#{school["longitude"]}">mapa</a>)
        %td.category
          - if school["is_kindergarden"]
            %span.pre-school Parvulari
          - if school["is_primary_school"]
            %span.primary-school Primaria
          - if school["is_secondary_school"]
            %span.secondary-school Secundària
          - if school["is_high_school"]
            %span.high-school Batxillerat
          - if school["is_special_school"]
            %span.special-school Escola Especial
        %td #{school["mean"]} (#{school["count"]})

%div.page
  %footer
    %p <b>Cóm ho hem calculat?</b> A partir de les dades que proveeix <a href="https://aire-barcelona.lobelia.earth">Lobelia</a>, calculem la mitjana del valor horari en µg/m<sup>3</sup> de diòxid de nitrògen (NO<sup>2</sup>) per cada un dels centres durant l'horari lectiu de 9:00 a 16:30 en els últims 7 dies.