%div.top-banner
  %div Fes que la teva escola s'adhereixi a la <span>"<a href="https://docs.google.com/forms/d/e/1FAIpQLSfoRITbcKQHhlq8but80_IIHvcalZBrJKeX9mdxSYPi69AwNg/viewform" target="_blank">Carta de les escoles de Barcelona per un aire net</a>"</span>

%header.large
  %h1 #{@title}
  %h2.hide-on-mobile Actualitzat durant l'horari escolar amb les dades dels últims #{time_ago_in_words(@date)}.

%div.page.large

  %div.module
    %form
      %span Escoles de 
      %div.select
        = select_tag :districts, options_for_select([["tots els districtes", schools_path]] + @districts.map{|d| [d["name"], schools_by_district_path(d["handle"])]}, @district_handle ? schools_by_district_path(@district_handle) : schools_path ), class: "district"
        %svg.select-icon{viewBox: "0 0 24 24"}
          %path{d: "M21 5.176l-9.086 9.353L3 5.176.686 7.647 12 19.382 23.314 7.647 21 5.176z"}
      %span amb
      %div.select
        = select_tag :levels, options_for_select([["qualsevol etapa educativa", '']] + @levels, @level), class: "level"
        %svg.select-icon{viewBox: "0 0 24 24"}
          %path{d: "M21 5.176l-9.086 9.353L3 5.176.686 7.647 12 19.382 23.314 7.647 21 5.176z"}

  %div
    %h2.headline.hide-on-mobile
      “#{@headline}”
      %a{href: "https://twitter.com/intent/tweet?text=#{CGI.escape(@share)}", target: "_blank", style: "border: 0;"}
        <svg style="height: 12px; border-radius: 50%; padding: 5px; position: relative; top: 3px; background: rgba(29,161,242,1.00); fill: white;" viewBox="0 0 24 24" class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-16y2uox r-1q142lx r-8kz0gk r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"><g><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg>
    %p{style: "font-size: 12px;"} <b>NORMATIVA:</b> No existeix una legislació específica que reguli la qualitat de l'aire a les escoles. A nivell general però el valor límit establert per la normativa europea pel que fa a diòxid de nitrogen (Directiva 2008/50/CE) es troba fixat en 40.0 µg/m<sup>3</sup> de mitjana anual. A l'hora, no es podrà superar més de 18 ocasions l'any el valor horari màxim de 200 µg/m<sup>3</sup>.

  %div.map{id: "map"}
  %div.legend
    %div
      %div.circle{style: "background: #02b0f0"}
      < 20 <span>µg/m<sup>3</sup></span>
    %div
      %div.circle{style: "background: #92d050"}
      < 40 <span>µg/m<sup>3</sup></span>
    %div
      %div.circle{style: "background: #ffc003"}
      < 50 <span>µg/m<sup>3</sup></span>
    %div
      %div.circle{style: "background: #ff0200"}
      < 60 <span>µg/m<sup>3</sup></span>
    %div
      %div.circle{style: "background: #c30000"}
      ≥ 60 <span>µg/m<sup>3</sup></span>

  %script{type: "text/javascript"}
    window.schools = [];
    - @schools.each_with_index do |school, index|
      window.schools.push({id: #{school["id"]}, info: "<b>#{school["name"]}</b><br><span style='margin-top: 4px; display: block;'>#{school["mean"]} µg/m<sup>3</sup></span>", color: "#{@colors[index]}", latitude: #{school["latitude"]},longitude: #{school["longitude"]}});

  %script{async: true, defer: true, src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCI1nJlcggO5BSBpblSrnm97cpBtbYikoM&callback=initMap"}

  %table.schools
    %tr
      %th #
      %th
      %th Escola
      %th.hide-on-mobile Districte
      %th Etapes
      %th.right <span class="hide-on-mobile">MITJANA</span> NO<sup>2</sup>

    - if @schools.count > 0
      - has_shown_mark = false
      - mark = ""
      - @schools.each_with_index do |school, index|
        - if school["mean"].to_f < 40.0 and not has_shown_mark
          - has_shown_mark = true
          - mark = "limit"
        - else
          - mark = ""

        %tr{class: mark}
          %td 
            #{index + 1}
          %td
            %div.circle{style: "background: #{@colors[index]}"}
          %td 
            %span
              #{school["name"]}
            %span.small
              (<a target="_blank" href="https://maps.google.com/?q=#{school["latitude"]},#{school["longitude"]}" data-action="move" data-latitude="#{school["latitude"]}" data-longitude="#{school["longitude"]}" data-index="#{index}">MAPA</a>)
          %td.category.hide-on-mobile
            #{school["district"]}
          %td.category
            - if school["is_kindergarden"]
              %span.pre-school Infantil
            - if school["is_primary_school"]
              %span.primary-school Primària
            - if school["is_secondary_school"]
              %span.secondary-school Secundària
            - if school["is_high_school"]
              %span.high-school Batxillerat
            - if school["is_special_school"]
              %span.special-school Educació Especial
          %td.right #{school["mean"]} <span class="small hide-on-mobile">µg/m<sup>3</sup></span>
    - else
      %tr
        %td.empty{:colspan => 5} No hi ha cap escola amb aquests criteris de cerca

%div.page.large
  %footer.last
    %p <b>Per districtes:</b> #{@districts.map{|district| link_to district["name"], schools_by_district_path(district["handle"]) }.to_sentence.html_safe}.

  %footer.last
    %p <b>Per etapes:</b> #{@levels.map{|level| link_to level[0], schools_by_district_path(level[1]) }.to_sentence.html_safe}.

  %footer.last
    %p <b>D'on provenen les dades?</b> Les dades horàries de NO<sup>2</sup> provenen de la web de <a href="https://www.lobelia.earth/ca/" target="_blank">Lobelia Earth</a>. Les dades de les escoles provenen del repositori <a href="https://opendata-ajuntament.barcelona.cat/data/ca/dataset/educacio-ensenyament-reglat" target="_blank">Ensenyament reglat a la ciutat de Barcelona</a> de la web de dades obertes de l'Ajuntament de Barcelona.

  %footer.last
    %p <b>Com es calcula?</b> Per la localització de cada una de les escoles, calculem la mitjana del valor horari de diòxid de nitrogen (NO<sup>2</sup>) de dilluns a divendres durant la franja horària de 9:00 a 17:00 dels últims #{time_ago_in_words(@date)}.

  %footer.last
    %p <b>Quan s'actualitza el llistat?</b> Tenim accés a les dades horàries de NO<sup>2</sup> amb un retràs de 4 hores. Amb el que el llistat s'actualitza automàticament de 13h a 21h de dilluns a divendres.

  %footer.last
    %p <b>Com de precises són les dades?</b> Les dades horàries d'NO<sup>2</sup> no són estretes directament d'una estació de mesura a cada escola, sinó que es calculen a partir del model predictiu creat per <a href="https://www.lobelia.earth/ca/" target="_blank">Lobelia Earth</a>.

  %footer.last
    %p <b>Puc fer servir aquestes dades?</b> Sí, pots descarregar-les en format CSV afegint l'extensió ".csv" a qualsevol de les pàgines.

  %footer.last
    %p <b>Contacta:</b> Si trobes que falta alguna escola o alguna dada és incorrecte, si us plau, contacta amb nosaltres a <a href="mailto:eixample.respira@gmail.com">eixample.respira@gmail.com</a>.

  %footer.last
    %p <b>Crèdits:</b> Un projecte d'<a href="https://www.eixamplerespira.com" target="_blank">Eixample Respira</a> a partir de les dades de <a href="https://www.lobelia.earth/ca/" target="_blank">Lobelia Earth</a>.
    %div.credit
      %a{:href => "https://www.eixamplerespira.com", :target => "_blank", :style => "text-decoration: none;"}
        %img{:src => "https://www.eixamplerespira.com/assets/images/eixample-respira.jpg", width: 100, style: "border: 1px solid silver; border-radius: 50%; vertical-align: middle;"}
